- var judul = "Gerai & Jasa"
- var halaman = "5"

mixin konten(link, gambar, judul, deskripsi)
	a(href="#{link}")
		.iklan
			.gambar
				img(src="#{gambar}")
			.tulisan
				h1 #{judul}
				p #{deskripsi}
		hr

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, width=device-width")
		title #{judul}
		link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.box-1
			.container
				h1.white #{judul}
		.container
			ol.breadcrumb
				li
					a(href="index.jade") Beranda
				li #{judul}
			.row.list-iklan
			p.text-center.lisensi Created by 
				a(href="https://twitter.com/mzaini30") @mzaini30
				|  | 
				a(href="js/page-#{halaman}.js") edit
			script(src="js/jquery.min.js")
			script(src="js/page-#{halaman}.js")
